{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Database Contents</h1>

    <h2>Users</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Watched Movies</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Movie ID</th>
                <th>Title</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in watched_movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.movie_id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.user_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
